@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f0f0f0;
}

body::-webkit-scrollbar {
display: none;
}


body.darkmode{
  background-color: #161515;
  color: white;
}

.loaded{
  background-color: black;
  height: 100vh;
  width: 100%;
}


.logo-container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.logo-container img {
  width: 180px;
  height: 250px;
}

.logo-container h2 {
  font-size: 1.2em;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bolder;
    color: royalblue;
  margin-top: -110vh;
  margin-left: -40px;
  cursor: pointer;
  animation-name: glow;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  
  

}

@keyframes glow {

  to{margin-top: 0px;}
}


